<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Book Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fas fa-lg fa-info-circle"></i> About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products"><i class="fas fa-project-diagram"></i> Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"><i class="far fa-lg fa-money-bill-alt"></i> Services</a>
          </li>

          <!--
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/book-list"><i class="far fa-lg fa-address-card"></i> Business</a>
          </li>
          -->

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fas fa-lg fa-mobile-alt"></i> Contact</a>
          </li>                
        </ul>        
      </div>
    </div>
</nav>